.LanguageSwitch.navigation {
	position: absolute;
    right: 0;
    top: calc(50% + 92px);
    background: #fff;
    z-index: 99;
    -webkit-box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in !important;
    outline: none;

    span {
        padding: 17px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: #ec1b30;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: all .2s ease-in !important;
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;
        padding-right: 5px;
        span {
            margin-left: 5px;
        }
    }
}
